[ project ]
authors = [ { name = 'Larry Turner', email = 'larry.turner@se.com' } ]
classifiers = [ 'Development Status :: 5 - Production/Stable',
                'Operating System :: OS Independent',
                'Programming Language :: Python :: 3',
                'Programming Language :: Python :: 3.9',
                'Programming Language :: Python :: 3.10',
                'Programming Language :: Python :: 3.11',
                'Programming Language :: Python :: 3.12',
                'Programming Language :: Python :: 3.13',
                'License :: OSI Approved :: BSD License' ]
dependencies = [ 'jsonpickle >= 3.0.2, < 4.0.0',
                 'loguru >= 0.6.0, < 1.0.0',
                 'numpy >= 1.26.4, < 2.0.0',
                 'pandas >= 2.2.2, < 3.0.0',
                 'requests >= 2.31.0, < 3.0.0',
                 'scikit-learn >= 1.4.0, < 2.0.0',
                 'scipy >= 1.13.0, < 2.0.0' ]
description = 'diamondback DSP package.'
keywords = [ 'BSON',
             'DSP',
             'FFT',
             'FIR',
             'GZIP',
             'IIR',
             'JSON',
             'PSD',
             'REST',
             'derivative',
             'diversity',
             'filter',
             'frequency',
             'gaussian',
             'goertzel',
             'integral',
             'log',
             'model',
             'polynomial',
             'polyphase',
             'rate',
             'request',
             'serial',
             'transform',
             'wavelet' ]
license = { file = 'LICENSE' }
name = 'diamondback'
readme = 'README.rst'
requires-python = '>= 3.9, < 3.14'
version = '5.0.3'

[ project.optional-dependencies ]
doc = [ 'ipython >= 8.21.0, < 9.0.0',
        'ipywidgets >= 8.1.2, < 9.0.0',
        'jupyter >= 1.0.0, < 2.0.0',
        'matplotlib >= 3.8.4, < 4.0.0',
        'mypy >= 1.8.0, < 2.0.0',
        'nox >= 2024.04.14, < 2026.04.14',
        'pillow >= 10.3.0, < 11.0.0',
        'pydeps >= 1.12.20, < 2.0.0',
        'requests >= 2.31.0, < 3.0.0',
        'sphinx >= 7.2.6, < 8.0.0',
        'sphinx-rtd-theme >= 2.0.0, < 3.0.0' ]
test = [ 'pytest >= 8.1.1, < 9.0.0',
         'requests >= 2.31.0, < 3.0.0' ]

[ project.urls ]
homepage = 'https://github.com/larryturner/diamondback'

[ build-system ]
build-backend = 'setuptools.build_meta'
requires = [ 'build >= 1.2.1, < 2.0.0',
             'requests >= 2.31.0, < 3.0.0',
             'setuptools >= 69.5.1, < 70.0.0',
             'wheel >= 0.43.0, < 1.0.0' ]

[ tool.setuptools.packages.find ]
include = [ 'diamondback*' ]

[ tool.mypy ]
ignore_missing_imports = true
