#   Description
#
#       Diamondback requirements.
#
#   License
#
#       BSD-3C. https://github.com/larryturner/diamondback/blob/master/license
#
#       © 2018 - 2021 Larry Turner, Schneider Electric Industries SAS. All rights reserved.
#
#   Author
#
#       Larry Turner, Schneider Electric, Analytics & AI, 2019-09-08.
#
#   Definition

ipython >= 7.22.0

ipywidgets >= 7.6.3

jsonpickle >= 2.0.0

jupyter >= 1.0.0

loguru >= 0.5.3

matplotlib >= 3.4.1

nox >= 2020.12.31

numpy >= 1.20.2

pandas >= 1.2.4

pillow >= 8.2.0

pytest >= 6.2.3

regex >= 2021.4.4

requests >= 2.25.1

scipy >= 1.6.3

setuptools >= 56.0.0

sphinx >= 3.5.4

sphinx-pydantic >= 0.1.1

sphinx-rtd-theme >= 0.5.2
