#   Description
#
#       Diamondback requirements.
#
#   License
#
#       BSD-3C. https://github.com/larryturner/diamondback/blob/master/license
#
#       Copyright (c) 2020, Larry Turner, Schneider Electric.  All rights reserved.
#
#   Author
#
#       Larry Turner, Schneider Electric, Analytics & AI, 2019-09-08.
#
#   Definition

ipython >= 7.20.0

ipywidgets >= 7.6.3

jsonpickle >= 1.5.1

matplotlib >= 3.3.4

nox >= 2020.12.31

numpy >= 1.20.0

pandas >= 1.2.1

pillow >= 8.1.0

requests >= 2.25.1

scipy >= 1.5.4

sphinx >= 3.4.3

sphinx-pydantic >= 0.1.1

sphinx-rtd-theme >= 0.5.1
