#   Description
#
#       Requirements.
#
#   License
#
#       BSD-3C. https://github.com/larryturner/diamondback/blob/master/license
#
#       Copyright (c) 2020, Larry Turner, Schneider Electric.  All rights reserved.
#
#   Author
#
#       Larry Turner, Schneider Electric, Analytics & AI, 2019-09-08.
#
#   Definition

ipython >= 7.19.0

ipywidgets >= 7.5.1

jsonpickle >= 1.4.1

matplotlib >= 3.3.3

nox >= 2020.8.22

numpy >= 1.19.4

pandas >= 1.1.4

pillow >= 8.0.1

requests >= 2.25.0

scipy >= 1.5.4

sphinx >= 3.3.1

sphinx-pydantic >= 0.1.1

sphinx-rtd-theme >= 0.5.0
